@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}

.header {
  z-index: 1;
}
ul > li {
  display: inline;
  margin-left: 12px;
  padding: 5px;
}
li:hover {
  cursor: pointer;
  border-bottom: 2px solid #898989;
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.herobgimg {
  background-image: url("../breatheasy/assets/Background\ Deco.svg");
  background-repeat: no-repeat;
  /* width: 200px;
  height: 300px; */
  background-size: contain;
  background-position: right;
  z-index: 0;
  height: 700px;
}
.Herotext{
    padding-top:120px;
}
.secondpageText{
    padding-top: 40px;
}
.thirdpageText{
    padding-top: 50px;
}
.secondpage{
    margin-top: 120px;
}
.sanitizerbg{
    background-color: #D1E4F6;
    border-radius: 999px;

}