.why_container{
    padding: 20px;
}
.textStyle{
    /* word-wrap: break-word; */
    margin-top: 100px;
}
.datarow{
    margin-top: 20px;
    margin-bottom: 20px;
height: 630px;
}
.imgSty{
    height: 70%;
    border-radius: 10px;
    
}
.herobgimgSecond {
    background-image: url("../assets/Group\ 5.png");
    background-repeat: no-repeat;
    /* width: 200px;
    height: 300px; */
    background-size: contain;
    background-position: right;
    z-index: 0;
    height: 450px;
  }
.herobgimgThird {
    background-image: url("../assets/Deco.png");
    background-repeat: no-repeat;
    /* width: 200px;
    height: 300px; */
    background-size: contain;
    background-position: left;
    z-index: 0;
    height: 800px;
  }
